<div class="ui fullscreen modal" style="top: 3408px;">
    <i class="close icon"></i>
    <div class="header">
        Add a new question
    </div>
    <div class="content">
        <div class="ui form">
            <h4 class="ui dividing header">Title for your question</h4>

            <div class="ui corner labeled input">

                <input type="text" placeholder="Required Field">
                <div class="ui corner label">
                    <i class="asterisk icon"></i>
                </div>
            </div>


            <div class="field">
                <label>Description</label>

                <textarea></textarea>

                <label>Select a category</label>



                <input type="text" placeholder="Category" id="categorySelector" multiple="" style="width:500px">

            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui button">Cancel</div>
        <div class="ui green button">Add</div>
    </div>

</div>
